
<div class="not-prose flex flex-col items-center bg-white border border-gray-200 dark:border-slate-600 rounded-lg shadow md:flex-row  hover:bg-gray-100 dark:bg-slate-700 dark:hover:bg-slate-800 my-2">
  <picture>
    <img class="object-cover w-60 rounded-lg mt-2 h-60 md:h-auto md:w-50 md:ml-2"
	 src="{{ ((.Get "foto" | .Page.Resources.Get).Resize "350x").RelPermalink}}"
	 alt=""
	 loading="lazy">
  </picture>
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5 class="mb-1 text-xl md:text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-100">{{ .Get "nom" }}</h5>
    <p class="prose dark:prose-invert prose-sm md:prose-base my-1 ">{{ .Inner | markdownify }}</p>
    {{ with .Get "futur" }}
    <a href="{{ . }}" class="inline-flex font-medium items-center text-blue-600 dark:text-blue-300 hover:underline">
      Activitat científica
    </a>
    {{ end }}
  </div>
</div>
